@font-face {
  font-family: "";
  font-weight: 400;

  src: url("@{font-path}/");
  src: url("@{font-path}/") format("embedded-opentype"),
  url("@{font-path}/") format("woff2"),
  url("@{font-path}/") format("woff"),
  url("@{font-path}/") format("truetype");
}
