html {
  box-sizing: border-box;

  font-size: @font-size-global;
}
body {
  background: @bg-global;

  font: 1rem/1 "Helvetica", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: @col-global;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
